<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Custom1.css" type="text/css">
</head>

<body>
    <div class="box1">
        <div class="content">
            <p>
                <samp>操作数的数量</samp><input type="number"
                                          oninput="if( this.value.length > 2 )  this.value = this.value.slice(0,2)" value="1"
                                          required>
            </p>
            <p>
                <samp>运算符的种类</samp>
                <input type="checkbox">+
                <input type="checkbox">-
                <input type="checkbox">*
                <input type="checkbox">/
            </p>
            <p>
                <samp>是否支持小数运算</samp>
                <input type="radio" name="ch">是
                <input type="radio" name="ch">否
            </p>
            <p>
                <samp>是否支持乘方运算</samp>
                <input type="radio" name="ch1">是
                <input type="radio" name="ch1">否
            </p>
            <p>
                <samp>是否支持真分数运算</samp>
                <input type="radio" name="ch2">是
                <input type="radio" name="ch2">否
            </p>
            <p class="btn">
                <input type="submit" value="提交" />

                <a href="~/Home/Practice"><input type="button" value="练习模式"></a>
                <a href="~/Home/Exam"><input type="button" value="考试模式"></a>

            </p>
        </div>
    </div>
</body>

</html>