<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>四则运算</title>
    <link rel="stylesheet" href="~/Content/login.css" type="text/css">
</head>
<body>
    <h2>四则运算CAI登录</h2>
    <div class="box">
        <div class="bsc" style="background-image: url(image/12.jpg)"></div>
        <div class="u1">
            <form action="" method="POST">
                <p>
                <p>Username</p>
                <input type="text" value="" class="uname"  />


                <p>Possword</p>
                <input type ="password" value="" class="pword"  />
                </p>
                <p>
                    <a href="~/Home/index">
                        <input type="button" class="btnLogin" value="Login">
                    </a>
                    <input type="button" class="btnReg" value="Sign up">

                </p>
            </form>
        </div>
    </div>


</body>
</html>