<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/practice.css" type="text/css">
</head>
<body>
    <div class="box1">
        <h2>练习模式</h2>
        <div class="box2">

        </div>
        <p class="btn">
            <a href="~/Home/index"><input type="button" value="结束练习"></a>
        </p>
    </div>
</body>
</html>